# Configuration des notifications push PWA
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BAbLN5kqGt8rXv8NzKzDwDg_pAy8cLxSTTdjNbiCVQH0HacDkQZp7DCqTJu4XvBWDFPuwhbR8_g41S_nlzQAbFc
VAPID_PRIVATE_KEY=y-6GrSppWokho3DqokirPby7FfmxvjsuMaWWzYn1VBg
VAPID_EMAIL=admin@inotech-gabon.com

# Secret pour sécuriser les webhooks PWA
WEBHOOK_SECRET=your-secret-key

# Base de données et autres variables...
DATABASE_URL="postgresql://..."
NEXTAUTH_SECRET="..."
NEXTAUTH_URL="http://localhost:3000"
